/* Customize Bootstrap */
body {
	background-color: rgb(245, 244, 237);
}

.input-xlarge {
	width: 190px;
}

.form-horizontal .controls {
	margin-left: 100px;
}

.top-margin {
	margin-top: 50px;
}

.login-border {
	margin-top: 20px;
	padding-left: 15px;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border: 2px solid #999999;
}