/* Customize Bootstrap */
.input-xlarge {
	width: 190px;
}

.form-horizontal .controls {
	margin-left: 90px;
}

.top-margin {
	margin-top: 50px;
}

.login-border {
	padding-left: 15px;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border: 2px solid #800000;
}